.DonationFormHeader {
  @container (width < 600px) {
    --flex-direction: column;
    --gap: var(--space-4);
    text-align: center;
  }
}

.H1 {
  @container (width < 600px) {
    --font-size: var(--font-size-large);
  }
}

.CloseButton {
  position: absolute;
  top: var(--space-2);
  right: var(--space-2);

  @container (width >= 600px) {
    display: none;
  }
}