.Header {
  position: relative;
}

.DonationForm {
  grid-column: content;

  @media (width < 600px) {
    height: 100vh;
  }
}

.CancelButton {
  @container (width < 600px) {
    display: none;
  }
}
