:root {
  --color-button-outlined: var(--color-midnight-blue);
  --color-button-outlined-surface-hover: #f7f6fe;
  --color-button-outlined-surface-pressed: #ebe9fc;

  --color-button-contained: var(--color-white);
  --color-button-contained-surface: var(--color-midnight-purple);
  --color-button-contained-surface-hover: #645D93;
  --color-button-contained-surface-pressed: #241E47;
}