.Margin {
  --margin-top: 0;
  --margin-right: 0;
  --margin-bottom: 0;
  --margin-left: 0;
  margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
}

/* Margin top */
.MarginTop-05 {
  --margin-top: var(--space-05);
}

.MarginTop-1 {
  --margin-top: var(--space-1);
}

.MarginTop-2 {
  --margin-top: var(--space-2);
}

.MarginTop-3 {
  --margin-top: var(--space-3);
}

.MarginTop-4 {
  --margin-top: var(--space-4);
}

.MarginTop-5 {
  --margin-top: var(--space-5);
}

.MarginTop-6 {
  --margin-top: var(--space-6);
}

.MarginTop-7 {
  --margin-top: var(--space-7);
}

.MarginTop-8 {
  --margin-top: var(--space-8);
}

.MarginTop-9 {
  --margin-top: var(--space-9);
}

.MarginTop-10 {
  --margin-top: var(--space-10);
}

/* Margin right */
.MarginRight-05 {
  --margin-right: var(--space-05);
}

.MarginRight-1 {
  --margin-right: var(--space-1);
}

.MarginRight-2 {
  --margin-right: var(--space-2);
}

.MarginRight-3 {
  --margin-right: var(--space-3);
}

.MarginRight-4 {
  --margin-right: var(--space-4);
}

.MarginRight-5 {
  --margin-right: var(--space-5);
}

.MarginRight-6 {
  --margin-right: var(--space-6);
}

.MarginRight-7 {
  --margin-right: var(--space-7);
}

.MarginRight-8 {
  --margin-right: var(--space-8);
}

.MarginRight-9 {
  --margin-right: var(--space-9);
}

.MarginRight-10 {
  --margin-right: var(--space-10);
}

/* Margin bottom */
.MarginBottom-05 {
  --margin-bottom: var(--space-05);
}

.MarginBottom-1 {
  --margin-bottom: var(--space-1);
}

.MarginBottom-2 {
  --margin-bottom: var(--space-2);
}

.MarginBottom-3 {
  --margin-bottom: var(--space-3);
}

.MarginBottom-4 {
  --margin-bottom: var(--space-4);
}

.MarginBottom-5 {
  --margin-bottom: var(--space-5);
}

.MarginBottom-6 {
  --margin-bottom: var(--space-6);
}

.MarginBottom-7 {
  --margin-bottom: var(--space-7);
}

.MarginBottom-8 {
  --margin-bottom: var(--space-8);
}

.MarginBottom-9 {
  --margin-bottom: var(--space-9);
}

.MarginBottom-10 {
  --margin-bottom: var(--space-10);
}

/* Margin left */
.MarginLeft-05 {
  --margin-left: var(--space-05);
}

.MarginLeft-1 {
  --margin-left: var(--space-1);
}

.MarginLeft-2 {
  --margin-left: var(--space-2);
}

.MarginLeft-3 {
  --margin-left: var(--space-3);
}

.MarginLeft-4 {
  --margin-left: var(--space-4);
}

.MarginLeft-5 {
  --margin-left: var(--space-5);
}

.MarginLeft-6 {
  --margin-left: var(--space-6);
}

.MarginLeft-7 {
  --margin-left: var(--space-7);
}

.MarginLeft-8 {
  --margin-left: var(--space-8);
}

.MarginLeft-9 {
  --margin-left: var(--space-9);
}

.MarginLeft-10 {
  --margin-left: var(--space-10);
}
  