.SurfaceColor {
  --background-color: var(--surface-color-transparent);
  background-color: var(--background-color);
}

.AlmostWhite {
  --background-color: var(--surface-color-almost-white);
}

.BlushPink {
  --background-color: var(--surface-color-blush-pink);
}

.DarkMidnightPurple {
  --background-color: var(--surface-color-dark-midnight-purple);
}

.LightSlate {
  --background-color: var(--surface-color-light-slate);
}

.MidnightPurple {
  --background-color: var(--surface-color-midnight-purple)
}

.OffWhite {
  --background-color: var(--surface-color-off-white);
}

.RoyalPurple {
  --background-color: var(--surface-color-royal-purple);
}

.Sand {
  --background-color: var(--surface-color-sand);
}

.Salmon {
  --background-color: var(--surface-color-salmon)
}

.SkyBlue {
  --background-color: var(--surface-color-sky-blue)
}

.UltraLightBlueGray {
  --background-color: var(--surface-color-ultra-light-blue-gray);
}

.White {
  --background-color: var(--surface-color-white)
}
