.SurfaceColor {
  --background-color: var(--surface-color-transparent);
  background-color: var(--background-color);
}

.Purple {
  --background-color: var(--surface-color-purple)
}

.Salmon {
  --background-color: var(--surface-color-salmon)
}

.SkyBlue {
  --background-color: var(--surface-color-sky-blue)
}

.White {
  --background-color: var(--surface-color-white)
}
