:root {
  --color-midnight-purple: #423C66;
  --color-midnight-blue: #484a62;
  --color-midnight-grey: #4D6475;
  --color-blue-grey-900: #1E2A32;
  --color-purple-grey: #595D7B;
  --color-light-grey: #bebebe;
  --color-white: #fff;
  --color-black: #000;
  --color-red: #e46962;
  --color-transparent: transparent;
}
