:root {
  --space-xx-small: var(--size-base);
  --space-x-small: calc(var(--space-xx-small));
  --space-small: calc(var(--space-xx-small) * 2);
  --space-medium: calc(var(--space-xx-small) * 3);
  --space-large: calc(var(--space-xx-small) * 4);
  --space-x-large: calc(var(--space-xx-small) * 5);
  --space-xx-large: calc(var(--space-xx-small) * 6);
}
  