:root {
  --surface-color-purple: var(--color-midnight-purple);
  --surface-color-salmon: #FFDBCB;
  --surface-color-sky-blue: #F4F8FA;
  --surface-color-transparent: var(--color-transparent);
  --surface-color-white: var(--color-white);
}