.Flex {
  --align-items: flex-start;
  --flex-direction: row;
  display: flex;
  align-items: var(--align-items);
  flex-direction: var(--flex-direction)
}

.FlexDirectionColumn {
  --flex-direction: column;
}

.FlexDirectionRow {
  --flex-direction: row;
}

.AlignItemsCenter {
  --align-items: center;
}f

.AlignItemsFlexStart {
  --align-items: flex-start;
}

.AlignItemsFlexEnd {
  --align-items: flex-end;
}
