.Flex {
  --align-items: flex-start;
  --justify-content: flex-start;
  --flex-direction: row;
  display: flex;
  align-items: var(--align-items);
  justify-content: var(--justify-content);
  flex-direction: var(--flex-direction)
}

.FlexDirectionColumn {
  --flex-direction: column;
}

.FlexDirectionRow {
  --flex-direction: row;
}

.AlignItemsCenter {
  --align-items: center;
}f

.AlignItemsFlexStart {
  --align-items: flex-start;
}

.AlignItemsFlexEnd {
  --align-items: flex-end;
}

.JustifyContentCenter {
  --justify-content: center;
}f

.JustifyContentFlexStart {
  --justify-content: flex-start;
}

.JustifyContentFlexEnd {
  --justify-content: flex-end;
}

.JustifyContentSpaceBetween {
  --justify-content: space-between;
}
