.FontSize {
  --font-size: var(--font-size-base);
  --line-height: 0.25rem;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) + var(--line-height));
}

.XLarge {
  --font-size: var(--font-size-x-large)
}

.Large {
  --font-size: var(--font-size-x-large)
}

.Medium {
  --font-size: var(--font-size-medium)
}

.Small {
  --font-size: var(--font-size-small)
}

.XSmall {
  --font-size: var(--font-size-x-small)
}

