.IconButton {
  --icon-button-size: calc(6 * var(--size-base));
  appearance: none;
  width: var(--icon-button-size);
  height: var(--icon-button-size);
  cursor: pointer;

  &.FullWidth {
    width: 100%;
  }
}

.Salmon {
  &:hover {
    --background-color: var(--surface-color-blush-pink);
  }

  &:active {
    --background-color: var(--surface-color-sand);
  }
}

.SkyBlue {
  &:hover {
    --background-color: var(--surface-color-almost-white);
  }

  &:active {
    --background-color: var(--surface-color-light-slate);
  }
}

.Small {
  --icon-button-size: calc(6 * var(--size-base));
}

.Medium {
  --icon-button-size: calc(10 * var(--size-base));
}
